@font-face {
    font-family: "wonome";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/wonome.ttf");
}
@font-face {
    font-family: "Handel Gothic";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Handel.ttf");
}
@font-face {
    font-family: "RocketRinder-yV5d";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/RocketRinder-yV5d.ttf");
}
.root {
    -fx-font-family: "Handel Gothic";
    -fx-base: #bfbbb4;
    -fx-background: derive(-fx-base,20%);
    -fx-accent: #f78000;
    -fx-focus-color: #f78000;
    -fx-faint-focus-color: #f7800022;
    -fx-background-color: #d6d1c9;
    -fx-control-inner-background: #b0aaa0;
    -fx-shadow-highlight-color: #a6a4a270;

}

.knob:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
        -fx-background-insets: 0, 1, 2;
}

.knob {
    -fx-text-fill: #f78000;
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
        -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 30px;
    -fx-background-image: url("Images/knobVit2d2.png");
        -fx-background-size: 30px 30px;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}

.bigKnob:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
        -fx-background-insets: 0, 1, 2;
}

.bigKnob {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
        -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 30px;
    -fx-background-image: url("Images/knobVit2d2.png");
        -fx-background-size: 40px 40px;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
}

.slider .thumb {
    -fx-background-image: url("Images/slider2dw.png");
    -fx-background-size: 28px, 15px;
    -fx-pref-width: 28px;
    -fx-pref-height: 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#masterSlider .thumb {
        -fx-background-size: 40px, 20px;
        -fx-pref-width: 40px;
        -fx-pref-height: 20px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button,
.toggleOsc,
.toggle-switch .thumb-area {
    -fx-background-color: #78736b;
    -fx-text-fill: #d6d1c9;
    -fx-font-family: "Handel Gothic";
    -fx-font-size: 14;
}

.check-box {
    -fx-text-fill: black;
    -fx-font-family: "Handel Gothic";
    -fx-font-size: 12;

}

.check-box .box {
    -fx-background-color: #78736b;
    -fx-background-insets: 0, 0, 0;
}

.check-box:selected .mark {
    -fx-background-color: #f78000;
}

.plainButton {
    -fx-background-color: #78736b;
    -fx-text-fill: #d6d1c9;
    -fx-font-family: "Handel Gothic";
    -fx-font-size: 14;
    -fx-body-color: #78736b;
    -fx-background-insets: 0, 0, 0;
}

.resetButton {
    -fx-background-color: #78736b;
    -fx-text-fill: #d6d1c9;
    -fx-font-family: "Handel Gothic";
    -fx-font-size: 12;
    -fx-body-color: #78736b;
    -fx-background-insets: 0, 0, 0;
    -fx-padding: 2px;
}

#btnStartStop {
    -fx-font-size: 20;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: black;
}

.toggleOsc:selected,
.toggle-switch:selected .thumb-area {
    -fx-background-color: #f78000;
}

.toggleSeq {
    -fx-padding: 0,3px;
    -fx-background-color: #78736b;
    -fx-text-fill: #d6d1c9;
    -fx-font-family: "Handel Gothic";
    -fx-font-size: 10;
    -fx-background-insets: 0, 0, 0;
}

.toggleSeq:selected {
    -fx-text-fill: #f78000;
}

.spinner .text-field,
.titled-pane > .title {
    -fx-background-color: #a6a097;
    -fx-text-fill: black;
    -fx-background-insets: 0, 0, 0;
}

.spinner,
.titled-pane .content {
    -fx-background-color: -fx-base;
}

.scroll-bar:horizontal,
.scroll-bar:vertical,
.scroll-pane > .corner,
.chart-plot-background,
.tool-bar:horizontal,
.scroll-pane,
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #b0ada7;
    -fx-background-radius: 5em;
}

.bigLabel {
    -fx-font-family: "Handel Gothic";
    -fx-text-fill: #000000;
    -fx-font-size: 17px;
}

.smallLabel {
    -fx-font-family: "Handel Gothic";
    -fx-text-fill: #000000;
    -fx-font-size: 10px;
}
.smallLabel2 {
    -fx-font-family: "Handel Gothic";
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
}

.filterLabel {
    -fx-font-family: "Handel Gothic";
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}


.lightLabel {
    -fx-font-family: "Handel Gothic";
    -fx-text-fill: #d6d1c9;
}

.oscLabel {
    -fx-font-size: 10px;
}

.oscLabelBig {
    -fx-font-size: 15px;
}

#oscBox {
    -fx-background-color: transparent;
}

.logo {
    -fx-font-family: "Rocket Rinder";
    -fx-text-fill: #f78000;
}

.logo.label .text {
    -fx-fill: #f78000;
    -fx-stroke: #57534d;
    -fx-stroke-width: 2px;
}

.chart {
    -fx-background-color:  #78736b;
    -fx-background-radius: 10px;
}

.chart-series-line {
    -fx-stroke-width: 4px;
}

.chart-line-symbol {
    -fx-padding: 5px;
}

.default-color0.chart-series-line {
    -fx-stroke: #f78000;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #f78000, #78736b;
}

.contentSquare {
    -fx-fill: -fx-base;
}
